<p style="color: green"><%= notice %></p>

<!-- Page Heading -->
<div class="mb-2">
  <div class="d-flex ">
    <h2 class="text-gray-800">Cotação</h2>
  </div>
  <div class="d-flex">
    <a href="<%= new_budget_path %>" class="btn btn-primary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-flag"></i>
      </span>
      <span class="text">Nova Cotação</span>
    </a>
  </div>
</div>
<div class="d-flex flex-row-reverse mb-2 px-3">
  <%= form_with url: budgets_path, method: :get, data: { turbo_frame: "budgets", 
      turbo_action: "advance", controller: "search", action: "keyup->search#perform" } do %>
  <%= text_field_tag "search", nil, placeholder: "Search",
          class: "inline-block rounded-md border border-gray-200 px-3 py-2" %>
  <% end %>
</div>
<div class="table-responsive" style="width: 98vw">
  <%= turbo_frame_tag "budgets" do %>
  <table class="table table-hover table-dark table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Fornecedor</th>
        <th>Contato</th>
        <th>Telefone</th>
        <th>Responsável</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @budgets.each do |budget| %>
        <tr>
          <td><%= budget.id %></td>
          <td><%= budget.customer.company_name %></td>
          <td><%= budget.contact %></td>
          <td><%= budget.phone_number %></td>
          <td><%= budget.user.login %></td>
          <td>
            <a href="<%= budget_path(budget) %>" class="btn btn-primary btn-circle btn-sm">
              <i class="fas fa-eye"></i>
            </a>
            <a href="<%= edit_budget_path(budget) %>" class="btn btn-primary btn-circle btn-sm">
              <i class="fas fa-edit"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <table class="table table-light table-sm table-bordered mb-2">
              <thead>
                <tr>
                  <th>Produto</th>
                  <th>Quantidade</th>
                  <th>Preço com ICMS</th>
                  <th>Frete</th>
                  <th>Tipo de Frete</th>
                  <th>Aceita troca?</th>
                </tr>
              </thead>
              <tbody>
              <% budget.budget_products.each do |budget_product| %>
                <tr>
                  <td><%= "#{budget_product.product.name} - #{budget_product.product.active_ingredient}" %></td>
                  <td><%= budget_product.quantity %></td>
                  <td><%= budget_product.price_with_icms %></td>
                  <td><%= budget_product.shipping_value %></td>
                  <td><%= budget_product.shipping_type.code %></td>
                  <td><%= budget_product.exchangeable %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">
          <%== pagy_bootstrap_nav(@pagy, link_extra: 'data-turbo-action="advance"') %>
        </td>
      </tr>
    </tfoot>
  </table>
  <% end %>
</div>
