<div class="container">
  <div class="col-lg-10">
    <div class="card-body">
      <%= form_with(model: user) do |f| %>
        <% if user.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% user.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %> 

        <div class="form-group">
          <%= f.label :login %><br />
          <%= f.text_field :login, autofocus: true, autocomplete: "login", class: "form-control form-control-user mb-2" %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user mb-2" %>
        </div>

        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "fullname", class: "form-control form-control-user mb-2" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-user mb-2" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-user mb-2" %>
        </div>

        <div class="actions">
          <%= f.submit "Cadastrar", class: "btn btn-success btn-user btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>