<div id="<%= dom_id user %>">
  <!-- DataTales Example -->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tbody>
          <tr>
            <td>ID do Usuário:</td>
            <td><%= user.id %></td>
          </tr>
          <tr>
            <td>Login:</td>
            <td><%= user.login %></td>
          </tr>
          <tr>
            <td>Nome:</td>
            <td><%= user.name %></td>
          </tr>
          <tr>
            <td>E-mail:</td>
            <td><%= user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>