<p style="color: green"><%= notice %></p>

<!-- Page Heading -->
<div class="mb-2">
  <div class="d-flex ">
    <h2 class="text-gray-800">Clientes</h2>
  </div>
  <div class="d-flex">
    <a href="<%= new_customer_path %>" class="btn btn-primary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-flag"></i>
      </span>
      <span class="text">Novo Cliente</span>
    </a>
  </div>
</div>
<div class="d-flex flex-row-reverse mb-2 px-3">
  <%= form_with url: customers_path, method: :get, data: { turbo_frame: "customers", 
      turbo_action: "advance", controller: "search", action: "keyup->search#perform" } do %>
  <%= text_field_tag "search", nil, placeholder: "Search",
          class: "inline-block rounded-md border border-gray-200 px-3 py-2" %>
  <% end %>
</div>
<div class="table-responsive" style="width: 98vw">
  <%= turbo_frame_tag "customers" do %>
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Razão Social</th>
        <th>Nome Fantasia</th>
        <th>CNPJ</th>
        <th>E-mail</th>
        <th>Whatsapp</th>
        <th>Estado</th>
        <th>Cidade</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.company_name %></td>
          <td><%= customer.trading_name %></td>
          <td><%= customer.ein_number %></td>
          <td><%= customer.main_email %></td>
          <td><%= customer.whatsapp_number %></td>
          <td><%= customer.state %></td>
          <td><%= customer.city %></td>
          <td>
            <a href="<%= customer_path(customer) %>" class="btn btn-primary btn-circle btn-sm">
              <i class="fas fa-eye"></i>
            </a>
            <a href="<%= edit_customer_path(customer) %>" class="btn btn-primary btn-circle btn-sm">
              <i class="fas fa-edit"></i>
            </a>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">
          <%== pagy_bootstrap_nav(@pagy, link_extra: 'data-turbo-action="advance"') %>
        </td>
      </tr>
    </tfoot>
  </table>
  <% end %>
</div>