<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Active ingredient:</strong>
    <%= product.active_ingredient %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= product.reference %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= product.user_id %>
  </p>

  <p>
    <strong>Last update by user:</strong>
    <%= product.last_update_by_user_id %>
  </p>

</div>
